In [8]:
import pandas as pd 
import seaborn as sbn
import statistics as sts

In [18]:
# Importando Tempo.csv
dataset = pd.read_csv("C:\\Users\\taynna.silva\\Documents\\DS\\10.Pr√°tica em Python\\dados\\tempo.csv", sep=";")
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [11]:
# Calcular a mediana
dataset["Umidade"].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [12]:
mediana= sts.median(dataset["Umidade"])
mediana

85.5

In [13]:
# Substituir os valores Nas pela mediana
dataset ["Umidade"].fillna(mediana, inplace=True)

In [17]:
# Verificar se ainda existem valores NaS
dataset["Umidade"].isnull().sum()

0